<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= Phoenix.LiveView.live_render(@conn, PoorManSpaWeb.PostFormLive, session: %{}) %>
    </div>
  </div>
</div>
